﻿body{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:120%;
    background-image:url(Etincelle/Photos/photo_menu.png)
}
h1{
   
    text-decoration:underline;

}
#contenu{
    padding-top:2%;
    padding-bottom:2%;
    background-image:url(Etincelle/Photos/crossword.png);
    margin-top:150px;
    margin-left:3%;
    margin-right:3%;
    margin-bottom:1.5%;
    padding-bottom:0;
    width:94%;
    border-radius:5px
}






/*Page d'acceuil*/

#Acceuil{   
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  background: url(Etincelle/Photos/Image-acceuil.png) no-repeat; 
  background-size:cover;
  
  

  
}
#citation{
    
    color: rgba(119,136,153,1);
    font-size:30pt;
    width:55%;
    margin-left:auto;
    margin-right:auto;
    margin-top:55px;
    text-align:center;
    font-weight:bold;
    text-shadow: 1px 1px black;
}
.lien{
    
   
    text-align:center;
    padding-top: 40px;
    width: 50%;    
    margin-left:auto;
    margin-right:auto;
}
em.lien{
    font-family:'Times New Roman';
    color:black;
    font-size: 86pt;
    font-weight:bold;
	text-decoration: underline;

   

    
}
a{
   
   text-decoration:none;

}
#pageaccueil{
    background-image:none;
}


/* Menu*/


 div.etincelle{
     display: block;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:auto;   
    text-align:center;
    background-image:url("Etincelle/Photos/photo_menu.png")
}
 em.etincelle{
     font-size: 32pt;
     font-weight:bold;
     color:rgb(254, 253, 240);
     

 }
a.menu{
   border: 2px solid rgb(254, 253, 240);
   background-color: #323131;
   padding:2px;
   color: rgb(254, 253, 240);
   margin-top:2%;
   display: inline-block;
   width: 15%;
   height:auto;
   
}
nav{
    display: block;
    position: fixed;
    top:40pt;
    left:0px;
    width: 100%;
    height: 85px;
    text-align: center;
    background-image:url(Etincelle/Photos/photo_menu.png)

}
a.menu:hover{
    background-color: #5E5D5D;
    
}

#ici.menu{
    background-color:#5E5D5D;
}
/*Description*/


p.description{  
    font-size:14pt;
    font-weight:bold;
    margin-left:0px;
    margin-right:0px;
    padding-left:1%;;
    padding-right:1%;
}
section{
    margin-left: 5%;
    margin-right:5%
    
}
li{
    
    margin-bottom:15px;
}
div.description{
    text-align:center;
    border: 4px solid black;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    margin-bottom:7.5%;
background-image:url(Etincelle/Photos/geometry2.png);  
}
#randoj{

    
    width:100%;
    height:100%;

    
}
div.contenu{
   width:100%;
   height:100%;
   
}
#contenu_img{
    float:right;
    width:30%;
    margin-left:1%;
}
#description{
    width:100%
}


/* Contact */

form{
    width:75%;
    height:100%;
    }
#adressemail{
    width:20%
}
input{
    margin-bottom:30px;
    height:20px
}
textarea{
    width:75%;
    height:150px
}
section.contenu{
    margin-bottom: 3%;
}
section.contenu em{
    font-weight:bold;
    font-style:normal;
}
p.contenu{
    margin-top:2%;
    margin-left:10px;
}
p.contenu :last-child{
   color: darkred;
}
section.contenu h1{
    margin-bottom:2%
}

/*Calendrier*/

 table.calendrier td{
    border: 2px solid black;
    margin-bottom:100px;
}
 table.calendrier th{
     font-weight:bold;
     font-size:15pt;
    border: 2px solid black;
    margin-bottom:100px;
 }
  table.calendrier tr{
     
  height:55px;
  
  }
  table.calendrier{
     
      text-align:center;
      width:75%;
      margin-left:auto;
      margin-right:auto;
      margin-top:5%;

  }
td.aconfirmer{
    color:red;
    font-weight:bold;
}


/*Confirmation Mail*/

p.formulaire{
    
    font-size:20pt;
    font-weight: bold;

}
#formulairerep{
    margin-top:2%;
      
}

/*Inscription sortie*/
#inscription{
    margin-left:2%
}

/*Membres du bureau*/

#membredb.description{
    margin-bottom:2%
}
div.membre{
    border:solid 2px black;
    text-align:center;
    margin-bottom:2%;
    width:85%
}
p.fonc{
    font-size:75%;
    color:grey;
}
#president{
    
    width:20%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1%
}
#vpresident{
    margin-left:15%;
    margin-top:10%;
}
#tresorier{
   margin-top:3%;
    width:20%;
    margin-left:15%
   
   
}

#secretaire{
    
    width:20%;
    margin-left:60%;
   
}
#vsecretaire{
    margin-left:15%;
    margin-top:10%;
}
.autre.membre{
    display:inline-block;
    width:20%;
    margin-left:3.75%;
    margin-top:3%
}


/*Auteur*/

#moi p{
    margin-left :5%
}
#moi em{
    color: darkred;
    font-weight: bold;
}
#moi span{
    text-decoration: underline;
    font-weight:bold;
}
/*footer*/

footer{
    width:85%;
    border-top: solid 1px black;
    border-left:solid 1px black;
    border-right:solid 1px black;
    margin-left:auto;
    margin-right:auto;
    text-align:right;
    font-size:75%;
    margin-top:10%
    
}
